.footer         
  .float-left
    img.img-responsive.footer-img(src='/favicon.png', alt=' ')
  .row.footer-row
    .col-xs-12.col-sm-12.col-md-3.col-lg-3.footer-column
      h3 Contact
      p Feel Free to get in touch.
      ul.address
        li
          i.glyphicon.glyphicon-map-marker(aria-hidden='true')
          | Fast NUCES, B block, Faisal Town, Lahore.
        li
          i.glyphicon.glyphicon-envelope(aria-hidden='true')
          a(href='mailto:info@example.com') farouq.bukhari@gmail.com
        li
          i.glyphicon.glyphicon-earphone(aria-hidden='true')
          | +92 324 8440261
    .col-xs-12.col-sm-12.col-md-3.col-lg-3.footer-column
      h3 Information
      ul.info
        li
          a(href='/about') About Us
        li
          a(href='/about') Contact Us
        li
          a(href='/product/GraphicCards') Special Products
    .col-xs-12.col-sm-12.col-md-3.col-lg-3.footer-column
      h3 Category
      ul.info
        li
          a(href='/product/MemorySticks') Memory Sticks
        li
          a(href='/product/GraphicCards') Graphic Cards
        li
          a(href='/product/Processors&MotherBoards') Processors & Motherboards
        li
          a(href='/product/GamingPeriphirels') Gaming Periphirals
        li
          a(href='/product/StorageDevices') Storage Devices
    .col-xs-12.col-sm-12.col-md-3.col-lg-3.footer-column
      h4 Follow Us
      .agileits_social_button
        ul
          li
            a.facebook(href='https://www.facebook.com/farouqBukhari')
              i.fab.fa-facebook  Facebook
          li
            a.twitter(href='https://twitter.com/FarooqS00283898')
              i.fab.fa-twitter  Twitter
          li
            a.google(href='https://plus.google.com/u/0/113508417334859162272')
              i.fab.fa-google  Google Plus
    .clearfix
      .footer-copy
        .footer-copy1
          .footer-copy-pos
            p
              | © 2017 Techifier Kart. All rights reserved | Design by 
              span.companyName Techifier
// //footer 
