extends ../adminLayout.pug
block content
  .row.profile
    include ../partials/adminSidebar.pug
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      h1 Add Product
      if(hasErrors)
        .alert.alert-danger
          each message in messages
            p= message
      form(action="/admin/addProduct",method="post")
        .form-group
          label(for="title") Product Name
          input.form-control(type="text", id="title", name="title")
        .form-group
          label(for="description") Description
          input.form-control(type="textarea", id="description", name="description")
        .form-group
          label(for="price") Price
          input.form-control(type="text", id="price", name="price")
        .form-group
          label(for="rating") Rating
          input.form-control(type="text", id="rating", name="rating")
        .form-group
          label(for="category") Category
          input.form-control(type="text", id="category", name="category")
        .form-group
          label(for="imgPath") Image Path
          input.form-control(type="text", id="imgPath", name="imgPath")
        .form-group
          label(for="quantity") Quantity
          input.form-control(type="text", id="quantity", name="quantity")
        .form-group
          label(for="specs") Specifications
          textarea.form-control(id="specs", name="specs")
        button.btn.btn-danger.btn-xs(type="submit") Add Product