extends ../layout.pug
block content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 Sign Up
        if(hasErrors)
          .alert.alert-danger
            each message in messages
              p= message
        form(action="/user/signup", name="myForm",method="post")
          .form-group
            label(for="fname") First Name
            input.form-control(type="text", id="fname", name="fname")
          .form-group
            label(for="lname") Last Name
            input.form-control(type="text", id="lname", name="lname")
          .form-group
            label(for="email") Email
            input.form-control(type="email", id="email", name="email", ng-model="text")
            span
            small(class="text-danger", ng-show="myForm.email.$error.email") Not a valid Email Address
          .form-group
            label(for="password") Password
            input.form-control(type="password", id="password", name="password")
          .form-group
            label(for="gender") Gender
            input.form-control(type="text", id="gender", name="gender")
          .form-group
            label(for="designation") Designation
            input.form-control(type="text", id="designation", name="designation")
          input(type="hidden",name="_csrf", id='_csrf',value= csrfToken)
          button.btn.btn-danger.btn-xs(type="submit") Sign Up
  script(src="/js/checkemail.js")
