extends ../layout
include ../_includes/sharedHTMLfunctions
  
block content
  .row.banner
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    //change home banner
    img.img-responsive.about-banner(src='/images/banners/index-banner.png' , alt='CompanyBanner')
  .container
    .row 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12 
        if(!noMessage && successMsg != null)
          #success.alert.alert-success
            p= successMsg
        
    block Products
      each chunk in products
        .row
          each product in chunk
            .col-xs-12.col-sm-6.col-md-3.col-lg-3
              .img-thumbnail
                img.img-responsive(src= product.imagePath , alt='')
                .caption
                  h3= product.title
                  .clearfix
                    .price.float-left= product.price+"$"
                      .small
                        +outputRating(product.rating)  
                    a.btn.btn-danger.btn-xs.float-right(href='/add-to-cart/'+product._id, role='button')
                      i.fas.fa-cart-plus
                    a.btn.btn-danger.btn-xs.float-right(href='/product/view/'+product._id, role='button')
                      i.far.fa-eye